*{
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.button {
  background: #000;
  font-family: Proxima Nova;
  font-size: 15px;
  color: #fff;
  height: 400px;
  width: 300px;
  border: none;
}

.button:hover{
  background:#f4f4f4;
  font-family: Proxima Nova;
  font-size: 15px;
  color:#000;
  border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    font-family: Proxima Nova;
    font-size: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}